*{
    font-family: Poppins;
}

:root {
  --neutral-1: #1A1E27;
  --neutral-2: #1B2234;
  --neutral-3: #2A334A;
  --accent-1: #F3AC4F;
  --accent-2: #34C780;
}


body{
    padding: 0;
    margin: 0;
}

.main{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-color: var(--neutral-1);
    color: white;
    overflow: hidden;
}


.under-construction-wrapper{
    width: 100%;
    height: 100%;
    min-height: 50vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}


header {
  background-color: var(--neutral-2);
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: var(--neutral-3);
}



.fullscreen-video-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.calling-card{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  width: 420px;
  background-color: #00000080;
}

.title{
  width: 100%;
  text-align: start;
}

.tagline{
  width: 100%;
  text-align: start;
}

@media (max-width:600px){
  :root{
    font-size: 12px;
  }

  .calling-card{
    width: 100%;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
  }
}









/* spinner */

.loader {
    width: 60px;
    height: 40px;
    position: relative;
    display: inline-block;
    --base-color: #263238; /*use your base color*/
  }
  .loader::before {
    content: '';  
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  .loader::after {
    content: '';  
    left: 35px;
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }  